.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 2em;
  color: white;
}

.App-header h1 {
  margin-top: 0;
}

.App-header button {
  background: transparent;
  border: 2px solid #67DAF9;
  color: #67DAF9;
  font-size: inherit;
  cursor: pointer;
  padding: 0.25em 1em;
}
